
/*  selector {property:value;} */

/*
#indexpage .mainnavigation li:nth-child(1){background-color: yellow;}
#aboutpage .mainnavigation li:nth-child(1){background-color: yellow;}
#portfoliopage .mainnavigation li:nth-child(1){background-color: yellow;}
*/




h1.greetingh1 {
	width: 1200px;
	height: 600px;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/background3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	filter:blur(1px);
	-webkit-filter: blur(1px);

}

button{
	border: 1px solid #E57661;
	padding: 2px;
	color: #7B2A3B;

}
 footer{
	 text-align: center;
 }

 div.profile-photos{
	 text-align: center;
 }

div.text-box{
	text-align: center;
	float: right;
}
/*
.color{
	height: 600px;
	width: 1200px;
	position: fixed;
	background-color: center;
	z-index: 1;
	left: 0;
	right: 0;
	background-color: #fff;
	opacity:0.5;
	filter: alpha(opacity=50);

}
*/

body{
	background-color: #F8E7A2;
}
 /* header */
.main-nav{

	background-color: #fff;
	padding-bottom: 5px;
	width: 70px;


}
h1{font-family: 'Pacifico', cursive;

}

div.testimonal.t1.cell.small-12.large-6 {
	border: 1px solid #fff;
	float: left;
}

div.testimonal.t2.cell.small-12.large-6 {
	border: 1px solid #fff;
	float: right;
}


img {
	margin: auto;
}
